*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div1{
    display:inline-block;
    gap:30px;
    justify-content: inline ;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    width: 30vw;
    min-height: 30vh; 
     box-shadow: 0.6em 0.6em  #d2dce9;
    border-radius: 30px; 

}
.div1 .div2{
    width: 40%;
    height: 40%;
    padding:30px 30px ;
}
.div1 .div2 .div3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div1 .div2 .div3 .img{
    align-items: center;
}
